/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
*,::after,::before{
  box-sizing:border-box;

}
:root {
  --ifm-color-primary: #0664a3;
  --ifm-color-primary-dark: #055a93;
  --ifm-color-primary-darker: #05558b;
  --ifm-color-primary-darkest: #044672;
  --ifm-color-primary-light: #076eb3;
  --ifm-color-primary-lighter: #0773bb;
  --ifm-color-primary-lightest: #0882d4;
  --shadowHighlight:rgba(255,255,255,0.05);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --aa-primary-color-rgb: white !important;
  --aa-muted-color-rgb: white !important;
  --post:rgba(41, 240, 48, 0.49);
  --patch:rgba(77, 56, 0, 0.49);
  --get:rgba(25, 60, 71, 0.49);
  --del:rgba(184, 30, 38, 0.49);
  
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9ec3dc;
  --ifm-color-primary-dark: #82b2d2;
  --ifm-color-primary-darker: #74a9cd;
  --ifm-color-primary-darkest: #4b8fbe;
  --ifm-color-primary-light: #bad4e6;
  --ifm-color-primary-lighter: #c8ddeb;
  --ifm-color-primary-lightest: #f1f7fa;
  --aa-primary-color-rgb: black !important;
  --aa-muted-color-rgb: black !important;
  --post:rgba(41, 240, 48, 0.172);
  --patch:rgb(77, 56, 0);
  --get:rgb(25, 60, 71);
  --del:rgba(184, 30, 38, 0.346);
}
/*
begin styling the badge 
*/
.badge{
  padding:.6rem .5rem !important;
  background-color: var(--shadowHighlight)!important;
  box-shadow: -8px 8px 33px -8px rgba(0,0,0,0.45);
  -webkit-box-shadow: -8px 8px 33px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: -8px 8px 33px -8px rgba(0,0,0,0.45);
  border-radius:.6rem;
  border: none;
  margin-bottom:.3rem;
  color:black;
}
[data-theme='dark'] .badge{
  color:white;
}
.table-of-contents__link{
  background: 
  linear-gradient(to right, rgba(100, 200, 200, .2), rgba(100, 200, 200, .2)),
  linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
background-size: 100% 0.1em, 0 0.1em;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 400ms;
}
.table-of-contents__link--active{
  background-size: 0 0.1em, 100% 0.1em;
}

/*
APIs styling begin
*/

.get > .menu__link::before {
  content: "get";
  background-color: var(--ifm-color-primary); 
}

.post > .menu__link::before {
  content: "post";
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: "del";
  background-color: var(--openapi-code-red);
}

.put > .menu__link::before {
  content: "put";
  background-color: var(--openapi-code-blue);
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-darkest);
}

/* 
Alternative Styling
In this issue community member @ThomasHeartman shared some alternative CSS with better contrast and some other stylistic tweaks to the method labels. The CSS to replicate this is below:

Sidebar Method labels 
*/
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
  /* padding:.4rem 0; */
}
/* .menu__link{
  padding:.4rem 0 !important;
} */
a.menu__link::before{
  display: flex;
  align-items: center;
  justify-content:center;
}
/* .menu__list-item{
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow:hidden;
  
} */
.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  /* border: 1px solid; */
  border-inline-start-width: 5px;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
}


.get > .menu__link::before {
  content: "get";
  background-color: var(--get);
  color: var(--ifm-color-info-contrast-foreground);
  border-color: var(--ifm-color-info-dark);
}

.post > .menu__link::before {
  content: "post";
  background-color: var(--post);
  color: var(--ifm-color-success-contrast-foreground);
  border-color: var(--ifm-color-success-dark);
}

.delete > .menu__link::before {
  content: "del";
  background-color: var(--del);
  color: var(--ifm-color-danger-contrast-foreground);
  border-color: var(--ifm-color-danger-dark);
}

.put > .menu__link::before {
  content: "put";
  background-color: var(--patch);
  color: var(--ifm-color-warning-contrast-foreground);
  border-color: var(--ifm-color-warning-dark);
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--patch);
  color: var(--ifm-color-success-contrast-foreground);
  border-color: var(--ifm-color-success-dark);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-contrast-background);
  color: var(--ifm-color-secondary-contrast-foreground);
  border-color: var(--ifm-color-secondary-dark);
}
/*
end of APIs styling 
*/
.aa-DetachedSearchButton{
  border-radius:.4rem !important;
  padding-right:.8rem !important;
  border-color:  black !important;
}
/*
search bar styling 
*/

